In [9]:
import os
print(os.getcwd())

C:\Users\n\Desktop\Intelligent Health Monitoring\Biomedical Module

In [10]:
import os
import pandas as pd

In [11]:


DATA_PATH = "../data/raw" # <-- keep your correct path

In [12]:
all_data = []

In [13]:
for subject_folder in os.listdir(DATA_PATH):
    subject_path = os.path.join(DATA_PATH, subject_folder)

    if os.path.isdir(subject_path):
        for filename in os.listdir(subject_path):
            if filename.endswith(".csv"):

                # ---- Extract subject & activity safely ----
                name = filename.replace(".csv", "")

                if "_" in name:
                    subject_id, activity = name.split("_")
                elif "." in name:
                    subject_id, activity = name.split(".")
                else:
                    continue  # skip weird files

                # ---- Load CSV ----
                file_path = os.path.join(subject_path, filename)
                df = pd.read_csv(file_path)

                # ---- ADD LABELS (THIS WAS THE BUG) ----
                df["subject_id"] = subject_id
                df["activity"] = activity

                all_data.append(df)

In [14]:
df.columns.tolist()

['time',
 'ecg',
 'peaks',
 'pleth_1',
 'pleth_2',
 'pleth_3',
 'pleth_4',
 'pleth_5',
 'pleth_6',
 'lc_1',
 'lc_2',
 'temp_1',
 'temp_2',
 'temp_3',
 'a_x',
 'a_y',
 'a_z',
 'g_x',
 'g_y',
 'g_z',
 'subject_id',
 'activity']

In [15]:
# ---- COMBINE EVERYTHING ----
combined_df = pd.concat(all_data, ignore_index=True)

print("Shape:", combined_df.shape)
print("Unique subjects:", combined_df["subject_id"].nunique())
print("Activities:", combined_df["activity"].unique())

combined_df.tail()

Shape: (1458152, 22)
Unique subjects: 2
Activities: ['run' 'sit' 'walk']

,time,ecg,peaks,pleth_1,pleth_2,pleth_3,pleth_4,pleth_5,pleth_6,lc_1,...,temp_2,temp_3,a_x,a_y,a_z,g_x,g_y,g_z,subject_id,activity
1458147,2021-01-01 12:27:41.163863,30237,0,78867,83364,4609,74877,83310,5115,6488436,...,35.56,33.187378,8.803329,-1.826869,0.602172,-0.334872,-0.046296,0.115219,s22,walk
1458148,2021-01-01 12:27:41.165863,28733,0,78872,83389,4607,74882,83318,5119,6488436,...,35.56,33.184383,8.830864,-1.778983,0.659636,-0.317295,-0.066270,0.108029,s22,walk
1458149,2021-01-01 12:27:41.167863,27303,0,78872,83389,4607,74879,83316,5118,6488436,...,35.56,33.184383,8.846428,-1.732892,0.723086,-0.299319,-0.086643,0.099373,s22,walk
1458150,2021-01-01 12:27:41.169863,26209,0,78877,83404,4597,74882,83333,5122,6488436,...,35.56,33.181389,8.858399,-1.693984,0.797908,-0.280809,-0.106085,0.089919,s22,walk
1458151,2021-01-01 12:27:41.171863,25556,0,78889,83404,4610,74884,83333,5124,6496721,...,35.56,33.184383,8.870970,-1.664654,0.876921,-0.261102,-0.124461,0.079799,s22,walk

In [16]:
combined_df.to_pickle("combined_df.pkl")