In [25]:
import pandas as pd

In [26]:
ppg_df = pd.read_csv("../Data/processed/ppg_features.csv")
acc_df = pd.read_csv("../Data/processed/acc_features.csv")

print("PPG:", ppg_df.shape)
print("ACC:", acc_df.shape)

PPG: (1158, 13)
ACC: (1158, 12)

In [27]:
ppg_df[["subject_id", "activity"]].head(), acc_df[["subject_id", "activity"]].head()

(  subject_id activity
 0        s12      run
 1        s12      run
 2        s12      run
 3        s12      run
 4        s12      run,
   subject_id activity
 0        s12      run
 1        s12      run
 2        s12      run
 3        s12      run
 4        s12      run)

In [28]:
#droping duplicate features
ppg_feat_only = ppg_df.drop(columns=["subject_id", "activity"])

In [29]:
fusion_df = pd.concat(
    [acc_df[["subject_id", "activity"]], ppg_feat_only, acc_df.drop(columns=["subject_id", "activity"])],
    axis=1
)

print("Fused shape:", fusion_df.shape)
fusion_df.head()

Fused shape: (1158, 23)

,subject_id,activity,hr_bpm,hrv,peak_count,R_ratio,red_ac,ir_ac,ppg_mean,ppg_std,...,ax_std,ay_std,az_std,ax_rms,ay_rms,az_rms,sma,ax_energy,ay_energy,az_energy
0,s12,run,99.709182,0.007644,9,1.580212,98.586438,256.296416,-1.116858,68.371286,...,0.869638,0.956757,1.062938,0.869656,0.957057,1.063297,2.305827,0.756302,0.915958,1.130601
1,s12,run,100.190840,0.011256,8,1.036670,91.672293,219.962447,2.855715,59.774673,...,0.956000,1.232725,1.229593,0.956000,1.233972,1.229737,2.765251,0.913935,1.522688,1.512253
2,s12,run,93.541203,0.036374,8,1.550534,93.461807,202.217577,2.343746,59.500541,...,0.965507,1.294507,1.204765,0.966029,1.294563,1.204810,2.774363,0.933211,1.675892,1.451567
3,s12,run,86.248203,0.019813,7,1.098686,85.358685,185.129674,-2.086325,58.417425,...,0.947062,1.383521,1.382024,0.947252,1.383993,1.383435,2.935472,0.897287,1.915438,1.913892
4,s12,run,85.836910,0.017000,7,-0.962195,73.637724,182.366085,-0.376455,58.327658,...,0.814431,1.360278,1.347730,0.815462,1.360294,1.351097,2.800067,0.664978,1.850399,1.825463

In [30]:
fusion_df.columns

Index(['subject_id', 'activity', 'hr_bpm', 'hrv', 'peak_count', 'R_ratio',
       'red_ac', 'ir_ac', 'ppg_mean', 'ppg_std', 'ppg_rms', 'ppg_energy',
       'ppg_entropy', 'ax_std', 'ay_std', 'az_std', 'ax_rms', 'ay_rms',
       'az_rms', 'sma', 'ax_energy', 'ay_energy', 'az_energy'],
      dtype='object')

In [31]:
OUTPUT_PATH = "../Data/processed/fused_ppg_acc_features.csv"
fusion_df.to_csv(OUTPUT_PATH, index=False)

print("Fused feature dataset saved.")

Fused feature dataset saved.